<div class="container">
    <div class="alert alert-danger" align="center" role="alert">
        <p class="h2"><strong>@ViewData["Message"]</strong></p>
        <img src="~/resources/notfound.png" alt="..." style="margin-top: 20px;">
    </div>
</div>